<h3><i class="fas fa-book-reader"></i> Dashboard</h3>
<div class="section">
    <p class="lead">Dashboard POC</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Log in to Google
    </a>
</div>